/* tema dark */
.dark { 
    background-color: #333;
}

.dark nav{
    background-color: rgba(4, 4, 51, 0.925);
}

.dark .card{
    background-color: rgba(99, 99, 110, 0.781);
}

.dark .producto { 
    color: white;
}

.dark .precio { 
    color: white;
}
.dark .descripcion { 
    color: white;
}

.dark nav{
    background-color: rgba(4, 4, 51, 0.925);
}

/* ----------------light-------------------------*/
.light { 
    background-color:white;
}

.light .producto { 
    color: black;
}

.light .precio { 
    color: black;
}
.light .descripcion { 
    color: black;
}


.free{
    background-color: rgb(156, 0, 0);
}

.free .card{
    background-color: rgba(211, 109, 109, 0.575);
}

.free .producto { 
    color: white;
}

.free .precio{
    color: white;
}

.free .descripcion{
    color: white;
}