
  body{
    background: linear-gradient(to right, #080509, #64596b, #080509);
  }
  
  .card{
    background:linear-gradient(71deg, #080509, #72627c, #080509);
    border-radius: 2%;

  }
  label{
    color:white;
  }

/*   button{
    width: 800px;
    height: 60px;
    border-radius: 107px;
  }
   */

