@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&family=Ubuntu+Condensed&display=swap');


body {
  background:linear-gradient(to right,#e06823,#f8f532,#d83807);
  margin: 0;
}

h1 {
  font-size: 120px;
  color: white;
}

.containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 98%; /* Ancho m치ximo del contenedor principal */
  margin: auto; /* Centrar el contenedor en la p치gina */
}

.container1 h1 {
  font-family: 'Skranji', cursive;
  font-weight: 700;
  background: -webkit-linear-gradient(right, #56641b,#2c2b16,#e63600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 132px;
  


 

}

.container2 {
   /* Que ocupe el espacio restante */
  max-width: 53.8%; /* Ancho m치ximo del container2 */

}



.container2 img {
  width:100%; /* La imagen ocupar치 el 100% del ancho de container2 */
 
  border-radius: 4%;
  
}





