/* Configuración básica del cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo del contenedor principal */
.contenedor {
    justify-content: space-between;
   grid-template-columns: auto;
} 

/* Estilo del encabezado */
header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: hsla(55, 18%, 25%, 0.5);
    color: #fff;
    padding: 40px;
    height: 200px;
  
}

#textoHeader {
    color: rgb(220, 243, 12);
    font-size: 80px;
}

/* Estilo de la imagen del encabezado */
#header-image {
    width: 25%;
    height: 100%;
    object-fit: fill;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}

